@{
    ViewData["Title"] = "About Us";
}
<main class="main">
    <!-- About Section -->
    <section id="about" class="about section">

        <div class="container">

            <div class="row gy-4 gx-5">

                <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
                    <img src="~/img/about.jpg" class="img-fluid" alt="">
                    <a href="https://youtu.be/AKa2ABRRgPs?si=MQCIduBXePC0KQLE" class="glightbox pulsating-play-btn"></a>
                </div>

                <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                    <h3>About Us</h3>
                    <p>
                        Welcome to Medilab – where your health is our highest priority. With a team of professional doctors and cutting-edge medical technology,
                        we are committed to delivering reliable and compassionate care. From checkups to complex treatments, we strive to provide excellence in every service.
                    </p>
                    <ul>
                        <li>
                            <i class="fa-solid fa-vial-circle-check"></i>
                            <div>
                                <h5>Expert Medical Team</h5>
                                <p>Our highly qualified doctors, nurses, and healthcare specialists are here to support your health journey with care and professionalism.</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-pump-medical"></i>
                            <div>
                                <h5>Advanced Medical Infrastructure</h5>
                                <p>We use modern diagnostic tools and innovative treatments to ensure accurate results and effective healing.</p>
                            </div>
                        </li>
                        <li>
                            <i class="fa-solid fa-heart-circle-xmark"></i>
                            <div>
                                <h5>Patient-Centered Approach</h5>
                                <p>
                                    We listen to your concerns and personalize treatments to suit your individual needs. Your comfort, trust,
                                    and well-being are at the heart of what we do.

                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- /About Section -->
</main>