@{
    ViewData["Title"] = "Our Departments";
}
<main class="main">
    <!-- Departments Section -->
    <section id="departments" class="departments section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Cardiology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Neurology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Hepatology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pediatrics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Eye Care</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="departments-tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Cardiology</h3>
                                    <p class="fst-italic">Our cardiology department specializes in the diagnosis and treatment of heart and vascular diseases</p>
                                    <p>
                                        We offer a full spectrum of cardiac services, including diagnostic testing, interventional procedures, and rehabilitation programs.
                                        Our team of experienced cardiologists is committed to providing the highest quality care for your cardiovascular health.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-1.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="departments-tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Neurology</h3>
                                    <p class="fst-italic">Our neurology department is dedicated to the diagnosis and treatment of disorders affecting the nervous system</p>
                                    <p>
                                        We provide comprehensive care for conditions such as stroke, epilepsy, multiple sclerosis, Parkinson's disease, headaches,
                                        and other neurological disorders. Our specialists utilize advanced diagnostic tools and treatment options to improve patient outcomes.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-2.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="departments-tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Hepatology</h3>
                                    <p class="fst-italic">Our hepatology department focuses on the diagnosis, treatment, and management of liver and biliary diseases</p>
                                    <p>
                                        We offer specialized care for conditions including hepatitis, cirrhosis, fatty liver disease, autoimmune liver disorders, and liver cancer.
                                        Our multidisciplinary team is committed to providing comprehensive and compassionate care for patients with liver ailments.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-3.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="departments-tab-4">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Pediatrics</h3>
                                    <p class="fst-italic">Our pediatrics department provides specialized medical care for infants, children, and adolescents</p>
                                    <p>
                                        Our dedicated team of pediatricians offers a wide range of services, including well-child check-ups,
                                        vaccinations, diagnosis and treatment of childhood illnesses, and management of chronic conditions.
                                        We are committed to ensuring the health and well-being of our young patients.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-4.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="departments-tab-5">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1" id="eye">
                                    <h3>Eye Care</h3>
                                    <p class="fst-italic">Our ophthalmology department offers comprehensive eye care services for all ages</p>
                                    <p>
                                        Our experienced ophthalmologists provide routine eye exams, vision correction, and treatment for various eye conditions and diseases,
                                        including cataracts, glaucoma, macular degeneration, and diabetic retinopathy. We are dedicated to preserving and enhancing your vision.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/img/departments-5.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- /Departments Section -->
</main>