@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<main class="main">
    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

        <div class="container">

            <div class="row justify-content-center">

                <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

                    <div class="faq-container">

                        <div class="faq-item faq-active">
                            <h3>What are your hospital's visiting hours?</h3>
                            <div class="faq-content">
                                <p>
                                    Our general visiting hours are from 8:00 to 20:00 daily. However, some departments may have specific visiting guidelines.
                                    Please check with the relevant department for more details.
                                </p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>Do I need to make an appointment to see a specialist?</h3>
                            <div class="faq-content">
                                <p>
                                    Yes, it is generally recommended to schedule an appointment to see one of our specialists.
                                    You can book an appointment online through our website or by calling our appointment line at [050 738 09 25].
                                </p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3> What insurance plans do you accept?</h3>
                            <div class="faq-content">
                                <p>
                                    We accept a wide range of major insurance plans. Please visit our website's insurance page or contact our billing department at [050 886 32 77] to
                                    verify if your insurance is accepted.
                                </p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>What should I bring with me for my appointment?</h3>
                            <div class="faq-content">
                                <p>
                                    Please bring your identification card, insurance card, a list of any current medications you are taking,
                                    and any relevant medical records or referrals from your primary care physician.
                                </p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3>Do you offer emergency medical services?</h3>
                            <div class="faq-content">
                                <p>Yes, our emergency department is open 24 hours a day, 7 days a week to provide immediate medical care for critical and urgent health conditions.</p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                        <div class="faq-item">
                            <h3> Is there parking available at the hospital?</h3>
                            <div class="faq-content">
                                <p>
                                    Yes, we have ample parking available for patients and visitors. Parking fees may apply in certain areas.
                                    Please follow the signs for designated parking zones.
                                </p>
                            </div>
                            <i class="faq-toggle bi bi-chevron-right"></i>
                        </div><!-- End Faq item-->

                    </div>

                </div><!-- End Faq Column-->
            </div>
        </div>
    </section><!-- /Faq Section -->
</main>