@{
    ViewData["Title"] = "Our Services";
}
<main class="main">
    <!-- Services Section -->
    <section id="services" class="services section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item  position-relative">
                        <div class="icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Cardiology Services</h3>
                        </a>
                        <p>
                            Our cardiology department offers comprehensive care for heart conditions, from diagnosis to advanced treatments.
                            We focus on patient-centered care and promoting cardiovascular health.
                        </p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fas fa-pills"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>General Surgery</h3>
                        </a>
                        <p>Our experienced surgeons provide a wide range of surgical procedures, utilizing the latest techniques and prioritizing patient safety and recovery.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fas fa-hospital-user"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3> Internal Medicine</h3>
                        </a>
                        <p>Our internal medicine specialists focus on the diagnosis and treatment of complex illnesses in adults, providing comprehensive and personalized care.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fas fa-dna"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Pediatrics</h3>
                        </a>
                        <p>We offer specialized medical care for infants, children, and adolescents, focusing on their unique health needs and well-being.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fas fa-wheelchair"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Orthopedics</h3>
                        </a>
                        <p>Our orthopedic team provides expert care for musculoskeletal conditions, including bone, joint, and muscle injuries and disorders.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="service-item position-relative">
                        <div class="icon">
                            <i class="fas fa-notes-medical"></i>
                        </div>
                        <a href="#" class="stretched-link">
                            <h3>Neurology</h3>
                        </a>
                        <p>Our neurology department is dedicated to the diagnosis and treatment of disorders affecting the brain, spinal cord, and nervous system.</p>
                        <a href="#" class="stretched-link"></a>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>
    </section><!-- /Services Section -->
</main>